@require "bootstrap/dist/css/bootstrap.css"
body
  padding-top 70px
// @require "startbootstrap-sb-admin-2/dist/css/sb-admin-2.css"
// @require "startbootstrap-sb-admin-2/dist/css/timeline.css"

// @require "angular-ui-select/dist/select.css"


// @require "./vendor/breadcrumb.css"
// @require "./vendor/minimal-menu.css"


// .btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child)
//   border-left 0